log.txt
.idea/DBPython.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
config.json
launches.json
rules.py
.gitignore
youtube-banner.png